.header {
  background-color: #113b56;
  display: flex;
  justify-content: space-between;
  font-family: "Oswald";
  color: white;
  align-items: center;
  padding: 0 15px;
}

.menu {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  text-transform: uppercase;
  display: flex;
}

.menu__option {
  margin: 0 6px;
}

.menu__selected {
  background-color: white;
  color: #113b56;
}
