.student__details {
  border: 1px solid #DDD;
  border-radius: 4px;

  list-style-type: none;
  padding: 20px;
}

.student__details li {
  margin-bottom: 20px;
}

.student__details p {
  margin: 0;
}

.label {
  text-transform: uppercase;
  font-size: 12px;
  color: #BBB;
  font-weight: bold;
}
