.course {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.course__option {
  border: 1px solid #113b56;
  color: #113b56;
  border-radius: 2px;
  font-family: "Oswald";
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
  width: 300px;
  margin: 10px 0;
  text-align: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 76px);
}
